= csrf_meta_tags
= csp_meta_tag
= display_meta_tags default_meta_tags
  
meta charset='utf-8'
meta name='viewport' content='width=device-width, initial-scale=1'

= stylesheet_pack_tag 'application'
= stylesheet_pack_tag stylesheet_path
= javascript_pack_tag 'application', defer: true
= javascript_pack_tag javascript_path, defer: true